main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensures it takes full height of the viewport */
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dashed #1475cf;
  height: 300px;
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
}

.uploaded-row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.upload-content {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
input-field {
  display: none;
}

button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
